.solution {
  padding-bottom: 0;
  margin-bottom: 32px;

  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 577px;
  }

  .left,
  .right {
    width: 50%;
    display: flex;
    align-items: center;

    @include media("<tablet") {
      width: 100%;
    }
  }

  .left {
    background-position: center;
    background-size: cover;

    @include media("<tablet") {
      height: 300px;
    }
  }

  .inner-box {
    width: 100%;
    max-width: 458px;
    padding: 20px;

    @include media('<tablet') {
      padding: 30px;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3eeed;
    color: $white;

    h2 {
      margin-bottom: 30px;

      @include media('<tablet') {
        margin-bottom: 15px;
      }
    }

    a {
      font-size: 13px;
      margin-top: 10px;
      text-decoration: none;
    }
  }
}
