.time {

  .sub-title {
    font-weight: bold;
    color: $light-green;
    margin-bottom: 21px;

    
    @include media('<tablet') {
      margin-bottom: 15px;
    }
  }

  h2 {
    margin-bottom: 35px;

    
    @include media('<tablet') {
      margin-bottom: 20px;
    }
  }

  p {
    margin-bottom: 26px;
    line-height: 1.6;
  }

  .link {
    display: inline-block;

    @include media("<tablet") {
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
    }

    .divider {
      width: 88px;
      height: 2px;
      background-color: $primary-color;
      margin: 14px auto 0 auto;
    }
  }

  .col-2 {
    display: flex;
    width: 42%;

    @include media("<tablet") {
      width: 100%;
    }

    .time_wrapper {
      align-self: center;
      margin-bottom: 43px;

      @include media('<tablet') {
        text-align: center;
        margin-bottom: 0;
      }
    }
  }

  img {
    height: 350px;

    @include media("<tablet") {
      margin: 0 auto 30px;
    }
  }
}
